html {
  scroll-behavior: smooth;
}

.focus {
  border: 2px solid rgba(185, 199, 196, 0.548);
  border-radius: 10px;
  background-color: rgba(80, 80, 80, 0.075);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 0 10px;
}
.menu {
  display: none;
  border: 1px solid rgb(182, 182, 182);
  padding: 2px 4px;
  border-radius: 7px;
  margin-left: 5px;
  cursor: pointer;
}
.menu:hover {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
}

body {
  margin: 10px 100px 10px;
  font-family: "Ubuntu", sans-serif;
}

.navHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  border: 1px solid rgba(183, 183, 183, 0.911);
  padding: 0 30px;
  border-radius: 15px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #1A4870;
}

.cv {
  margin-bottom: 16px;
  margin-top: 16px;
  color: #5B99C2;
}

.nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  margin-left: 30px;
}

.contactMe {
  display: none;
  float: right;
}


B {
  color: rgba(61, 61, 61, 0.911);
}
.tool,
.portfolio {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  cursor: pointer;
  color: rgb(16, 44, 97);
  width: fit-content;
  font-size: 14px;
  margin-bottom: 0;
}
.portfolio span, .tool span {
  margin-right: 4px;
}
.repo {
  /* align-self: end; */
  margin-right: 25px;
  font-weight: lighter;
  float: right;
}
.stt2rn {
  line-height: 18px;
  /* text-wrap:wrap; */
}
.marker {
    list-style-type:armenian;
}
.p {
  cursor: pointer;
  color: rgb(28, 68, 141);
  /* width: fit-content; */
}

.other {
    color: rgba(37, 37, 37, 0.993);
    text-decoration-line: underline;
    cursor: pointer;
}

.dropdown p {
  font-size: 13.5px;
  display: block;
}
.drops {
  overflow: hidden;
  height: 0px;
  transition: height 2s linear;
     /* display: none; */
}
.dropdown {
  /* position: relative; */
  transform: translateY(-140%);
  transition: transform 1s, visibility 2s linear;
  visibility: hidden;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 4px;
  width: fit-content;
  text-wrap: wrap;
}

.appear {
  /* display: block; */
  transform: translateY(0px);
  transition: transform 1s, visibility 1s linear;
  visibility: visible;
}



.htmlCssBootstrap,
.jsJquery,
.styledTailTypeReactNext,
.wps,
.managerSw {
  display: none;
  position: fixed;
  top: 20%;
  right: 40%;
  left: 40%;
  background-color: rgba(255, 255, 255, 0.932);
  padding-bottom: 30px;
  width: 300px;
  border: none;
  border-radius: 7px;
}
.htmlCssBootstrap,
.jsJquery,
.styledTailTypeReactNext,
.wps,
.managerSw ul {
  padding-top: 0px;
  font-size: smaller;
  font-family: "Ubuntu", sans-serif;
}
.htmlCssBootstrap,
.jsJquery,
.styledTailTypeReactNext,
.wps,
.managerSw ul li {
  line-height: 1.7;
  color: rgb(28, 67, 138);
}
a {
  font-weight: 500;
  text-decoration: none;
  color: rgb(28, 67, 138);
}
.htmlCssBootstrap,
.jsJquery,
.styledTailTypeReactNext,
.wps,
.managerSw ul b {
  color: rgb(85, 85, 85);
}
.click {
  font-size: 7px;
  background-color: rgb(64, 118, 189);
  border-radius: 13px;
  padding: 4px 6px 2px 6px;
  color: rgb(230, 227, 227);
  display: block;
}

.footTable {
  width: 82%;
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

.n {
  margin: 5px;
  padding: 2px 10px;
  border-radius: 4px;
  color: rgba(28, 68, 132, 0.777);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  background-color: rgb(225, 225, 225);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.disappearAgain {
  display: none;
}
th {
  color: #1A4870;
}

sup {
  position:fixed;
  bottom: 2.5px;
  background-color:rgb(28, 67, 138) ;
  color:  rgb(182, 182, 182);
  padding: 5px 8px 2px;
  border-radius: 100%;
}

.bottomNav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  body {
    margin: 0px 20px 10px;
  }

  .navHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    padding: 0;
    border-radius: 0px;
    box-shadow: none;
    background-color:rgba(185, 199, 196, 0);
  }
  .cv {
    text-align: center;
    margin-bottom: 0px;
    border: 1px solid rgba(183, 183, 183, 0.911);
    padding: 12px 0;
    border-radius: 30px;
    /* color: rgb(10, 51, 128); */
    background-color: #1A4870;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  .nav {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 71px;
    left: 6%;
    right: 10%;
  }
.contactMe {
  display: block;
}

  .firstTable {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .menu {
    display: inline-block;
  }
  .n {
    display: none;
    text-align: center;
  }
  .appearAgain {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .htmlCssBootstrap,
  .jsJquery,
  .styledTailTypeReactNext,
  .wps,
  .managerSw {
    width: 270px;
    left: 33%;
    right: 33%;
  }
  .footTable {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .htmlCssBootstrap,
  .jsJquery,
  .styledTailTypeReactNext,
  .wps,
  .managerSw {
    width: 270px;
    left: 15%;
    right: 15%;
  }
  .nav {
    left: 0%;
    right:8%;
  }
  
}
